@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Student;
<h1>Add New Student</h1>
<form asp-action="AddStudent" asp-controller="Student" method="post">

    <div class="form-group">
        <label asp-for="Id">ID</label>
        <input type="number" class="form-control" asp-for="Id">
    </div>

    <div class="form-group">
        <label asp-for="Email">Email address</label>
        <input type="email" class="form-control" asp-for="Email">
    </div>

    <div class="row">
        <div class="form-group col">
                <label asp-for="FirstName">First Name</label>
                <input type="text" class="form-control" asp-for="FirstName">
           </div>
        <div class="form-group col">
                <label asp-for="LastName">Last Name</label>
                <input type="text" class="form-control" asp-for="FirstName">
        </div>
    </div>

    <div class="form-group">
        <label asp-for="GPA">GPA</label>
        <input type="number" step="0.001" class="form-control" asp-for="GPA">
    </div>

    <div class="form-group">
        <label asp-for="Course">Course</label>
        <select class="form-control form-select" asp-items = "@Html.GetEnumSelectList(typeof(Course))" asp-for="Course">
        </select>
    </div>

    <div class="form-group">
        <label asp-for="AdmissionDate">Admission Date</label>
        <input type="date" class="form-control" asp-for="AdmissionDate">
    </div><br />

    <center><button type="submit" class="btn btn-primary">Submit</button></center>
</form>
<br />
<a class="btn btn-dark" type="button" asp-controller="Student" asp-action="Index">Go Back</a>